<ul class="nav justify-content-center bg-dark">
  <li class="nav-item" *ngIf="!loggedIn">
    <a class="nav-link" href="#" (click)="actionLogin()">Użytkownik</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *ngIf="loggedIn" href="#" (click)="actionTransfer()">Nowy przelew</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" *ngIf="loggedIn" (click)="actionHistory()">Historia transakcji</a>
  </li>
  <li class="nav-item" *ngIf="isMainBankAccount">
    <a class="nav-link" href="#" (click)="actionClientList()">Lista Klientów</a>
  </li>
  <li class="nav-item" *ngIf="isMainBankAccount">
    <a class="nav-link" href="#" (click)="synchronize()">Synchronizuj</a>
  </li>
  <li class="nav-item" *ngIf="client">
    <a class="nav-link" href="#" (click)="logout()">Wyloguj</a>
  </li>
</ul>
<app-info></app-info>
<div class="container" >
  <app-history *ngIf="loggedIn" [hidden]="!history" [client]="client"></app-history>
  <app-login  [hidden]="!login" (client)="emited($event)"></app-login>
  <app-przelew [hidden]="!transfer" [client]="client"></app-przelew>
</div>
<app-user-info [client]="client"></app-user-info>
